mixin card-room-detail({number='999', price='999', days='1', totalPrice='9999', service='100',extra='100', total='99999', buttonLongStyle='long',buttonLongContent='Long Template'}={})    
    .card-room-detail
        .card-room-detail__flex-wrapper
            .card-room-detail__price-headline
                p.card-room-detail__number
                    span.card-room-detail__num № 
                    span.card-room-detail__number=number
                    span.card-room-detail__lux люкс
                p.card-room-detail__price=`${price} в сутки`
        .card-room-detail__flex-wrapper
            +two-input-range()
        .card-room-detail__dropdown-guest-margin
            h3.card-room-detail__header гости
            +dropdown-guest("Сколько гостей")
        table.card-room-detail__price-table
            tr.card-room-detail__price-table-row
                td.card-room-detail__leftColumn=`${price}₽ х ${days} суток`
                td.card-room-detail__price-table-column
                td.card-room-detail__rightColumn=`${totalPrice}₽`
            tr.card-room-detail__price-table-row
                td.card-room-detail__leftColumn=` Сбор за услуги: скидка ${service}₽`
                td.card-room-detail__price-table-column 
                    a(href='#').card-room-detail__price-table-circle i
                td.card-room-detail__rightColumn 0₽
            tr.card-room-detail__price-table-row
                td.card-room-detail__leftColumn Сбор за дополнительные услуги
                td.card-room-detail__price-table-column
                        a(href='#').card-room-detail__price-table-circle i
                td.card-room-detail__rightColumn=`${extra}₽`
        .card-room-detail__total
            p.card-room-detail__total-name Итого
            .card-room-detail__border-dashed
            p.card-room-detail__total-sum=`${total}₽`
        .card-room-detail__button_long-margin
            +button(buttonLongStyle, buttonLongContent)

