mixin room-detail(data)    
    .room-detail
        .flex-wrapper
            .room-detail__price-headline
                p.room-detail__number
                    span.room-detail__num № 
                    span.room-detail__number=data.number
                    span.room-detail__lux люкс
                p.room-detail__price=`${data.price} в сутки`
        .flex-wrapper
            include ../two-input-range/two-input-range.pug
        .dropdown-guest
            h3.room-detail__header гости
            +dropdown-guest-repeat("Сколько гостей")
        table.room-detail__price-table
            tr.room-detail__price-table-row
                td.room-detail__leftColumnumn=`${data.price}₽ х ${data.days} суток`
                td.room-detail__price-table-column
                td.room-detail__rightColumn=`${data.totalPrice}₽`
            tr.room-detail__price-table-row
                td.room-detail__leftColumn=` Сбор за услуги: скидка ${data.service}₽`
                td.room-detail__price-table-column 
                    a(href='#').room-detail__price-table-circle i
                td.room-detail__rightColumn 0₽
            tr.room-detail__price-table-row
                td.room-detail__leftColumn Сбор за дополнительные услуги
                td.room-detail__price-table-column
                        a(href='#').room-detail__price-table-circle i
                td.room-detail__rightColumn=`${data.extra}₽`
        .room-detail__total
            p.room-detail__total-name Итого
            .room-detail__border-dashed
            p.room-detail__total-sum=`${data.total}₽`
        +button(data.buttonLongStyle, data.buttonLongContent)

