mixin rich-checkbox(options)
    form.rich-checkbox(action="#")
        ul.rich-checkbox__check-list
            each item in options
                li.rich-checkbox__check-list-item
                    input.rich-checkbox__check-list-checkbox(type="checkbox" id=`q${item.id}` name=`${item.id}` checked=item.checked hidden)
                    label(for=`q${item.id}`)= item.header
                        p.rich-checkbox__check-list-content= item.content

