mixin rich-checkbox(options)
    form(action="#").rich-checkbox
        ul.check-list
            each item in options
                li.check-list__item
                    input.check-list__checkbox(type="checkbox" id=`q${item.id}` name=`${item.id}` checked=item.checked hidden)
                    label(for=`q${item.id}`)= item.header
                        p.check-list__content= item.content

