mixin slider-room(data)
    .room-slider
        .flexslider
            ul.slides
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${data.number}-slide-1.jpg`))
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${data.number}-slide-2.jpg`))
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${data.number}-slide-3.jpg`))
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${data.number}-slide-4.jpg`))
        .room-slider__price-headline
            p.room-slider__number
                span.room-slider__num №
                span.room-slider__number #{data.number}
                span.room-slider__lux  #{data.isLux}
            p.room-slider__price= data.price +"₽ в сутки"
        .room-slider__rating
            +rate-button(data.number)                               
            p.room-slider__reviewsAmount <b>#{data.reviews}</b> Отзывов