mixin slider-room(roomNum, price,rev, lux)
    .room-slider
        .flexslider
            ul.slides
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${roomNum}-slide-1.jpg`))
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${roomNum}-slide-2.jpg`))
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${roomNum}-slide-3.jpg`))
                li.slides__item
                    img.slides__img(src=require(`./components/card-slider-room/${roomNum}-slide-4.jpg`))
        .room-slider__price-headline
            p.room-slider__number
                span.room-slider__num №
                span.room-slider__number #{roomNum}
                span.room-slider__lux  #{lux}
            p.room-slider__price= price +"₽ в сутки"
        .room-slider__rating
            +rate-button(roomNum)                               
            p.room-slider__reviewsAmount <b>#{rev}</b> Отзывов