mixin sliderRoom(roomNum, price,rev, lux)
    .cardSmall.roomSlider
        .flexslider
            ul.slides
                li
                    img(src=require(`./components/card-slider-room/${roomNum}-slide-1.jpg`))
                li
                    img(src=require(`./components/card-slider-room/${roomNum}-slide-2.jpg`))
                li
                    img(src=require(`./components/card-slider-room/${roomNum}-slide-3.jpg`))
                li
                    img(src=require(`./components/card-slider-room/${roomNum}-slide-4.jpg`))
        .flex-wrapper.roomSlider__priceHeadline
            p.roomSlider__number
                span.roomSlider__num №
                span #{roomNum}
                span.roomSlider__lux  #{lux}
            p.roomSlider__price= price +"₽ в сутки"
        .flex-wrapper.roomSlider__rating
            +rateButton(roomNum)                               
            p.roomSlider__reviewsAmount <b>#{rev}</b> Отзывов